
{{ include('partials/components/modal-alert.twig') }}
<footer class="footer footer-steps bg-ph">
  <div class="container">
    <div class="row">
      <div class="col-md-6 push-md-3 text-center">
        <button class="btn btn-outline-secondary prev-add-gallery-tab px-5" disabled="">Voltar</button>
        <button class="btn btn-secondary next-add-gallery-tab px-5">Avançar</button>
        <button class="btn btn-secondary end-add-gallery-tab px-5" style="display:none;">Finalizar</button>
      </div>
      <div class="col-md-3 push-md-3 text-md-right text-center mt-4 mt-md-0">
        <a onclick="show_modal_alert('danger','/gallery','Tem certeza que deseja sair? Suas informações não serão atualizadas.');" href="#" class="btn btn-circle btn-outline-secondary">
          <i class="icon-cancel"></i>
        </a>
      </div>
      <div class="col-md-3 pull-md-9">
        <a class="footer-brand" href="/"><img src="{{url('theme://resources/images/logo-white.svg')}}"/></a>
      </div>
    </div>
  </div>
</footer>
