<div class="filters-list">
  <h5 class="title">Foram encontrados <span class="search-hits"></span> resultado(s).</h5>
  <ul class="list-inline">
    {% for i in range(0,4) %}

    <li>
      <span>Paisagem {{i}}</span>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>

    {% endfor %}
  </ul>
</div>
