<footer class="footer footer-default">
  <a class="footer-brand" href="#"><img src="{{ url('theme://resources/images/logo-footer.svg') }}"/></a>
  <p class="m-0 mt-3 text-white">Copyright © 2017 - Fotocontainer, todos os direitos reservados.</p>
</footer>
