<nav class="navbar navbar-toggleable-md navbar-inverse navbar-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-top .navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="{{ url('theme://resources/logo-navbar-top.png') }}"/></a>

    <div class="collapse navbar-collapse ">
      <ul class="navbar-nav ml-auto">

        {% if profile == 2 %}
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="icon-picture"></i> Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon-doc-text"></i> Histórico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon-bell"></i> Solicitações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon-user"></i> Perfil</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="icon-logout"></i> Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
