<div class="page-header navbar navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".page-heade .navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if 'title' in show %}
    <h2 class="title navbar-brand hide">{{ title }}</h2>
    {% endif %}


    {% if 'btn-back' in show %}
    <div class="navbar-collapse">
      <a href="#" class="btn btn-sm btn-primary btn-circle"><i class="icon-left-open"></i></a>
      <span class="pl-2 pt-1 text-uppercase"> Voltar para Galeria</span>
    </div>
    {% endif %}

    <div class="collapse navbar-collapse">

        {% if 'form-search' in show %}
        <form class="form-inline form-search ml-auto">
          <input class="form-control" type="text" placeholder="BUSCA">
          <button class="btn btn-search" type="submit"><i class="icon-search"></i></button>
        </form>
        {% endif %}

        {% if 'nav-gallery' in show %}
        <ul class="navbar-nav ml-0">
          <li class="nav-item ml-4">
            <button class="btn btn-sm btn-primary text-uppercase px-4" data-toggle="modal" data-target=".modal-filters">Filtros</button>
          </li>
          <li class="nav-item ml-4">
            <a class="btn btn-sm btn-primary btn-circle" href="#"><i class="icon-help"></i></a>
          </li>
        </ul>
        {% endif %}

        {% if 'nav-add-gallery' in show %}
        <ul class="nav nav-tabs nav-steps ml-auto">
          <li class="nav-item">
            <a class="nav-link active" data-index="1" data-toggle="tab" href="#evento" role="tab"><span class="badge">1</span> Evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-index="2" data-toggle="tab" href="#fornecedores" role="tab"><span class="badge">2</span> Fornecedores </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-index="3" data-toggle="tab" href="#caracteristicas" role="tab"><span class="badge">3</span> Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-index="4" data-toggle="tab" href="#fotos" role="tab"><span class="badge">4</span> Fotos</a>
          </li>
        </ul>
        {% endif %}

    </div>
  </div>
</div>
