<a href="#" class="download-btn">Baixar álbum completo.</a><br>
{%  if event.authorized %}
<a href="#" style="display: none;" class="selected-btn">Baixar fotos selecionadas.</a><br>
{%  endif %}

<h6 class="title text-muted text-uppercase mb-0">{{ event.category }}</h6>
<h2 class="title text-uppercase mb-3">{{ event.title }}</span></h2>
<h6 class="title text-muted text-uppercase mb-5">{{ event.photos|length }} fotos de {{ event.photographer }}</h6>

<div id="gallery" class="row row-sm">
{% for photo in event.photos %}
  {%
    include 'partials/components/render_thumb.twig' with {
      'event_id': event.id,
      'authorized': event.authorized,
      'data': photo,
      'logged_user_id': logged_user_id,
      'api_endpoint': api_endpoint,
      'image_cdn': image_cdn,
      'profile': 3,
      'type': 'gallery',
      'col': 'col-lg-3 col-md-4 col-sm-6 col-12',
      'show': [
        'icon',
        'photo-name',
        'album-type',
        'album-name',
        'image-count',
        'fav-count',
        'search'
      ]
    }
  %}
{% endfor %}
</div>

<script>
$( document ).ready(function(){
  Event.likePhoto(localStorage.endpoint);
  Event.dislikePhoto(localStorage.endpoint);
  Event.requestDownload(localStorage.endpoint);

  $('#gallery').lightGallery({
    subHtmlSelectorRelative: true
  });

  $('.thumb-gallery .nav-item').click(function( event ) {
    event.stopPropagation();
  });

  $('.thumb-gallery .view-image').click(function( event ) {
    $(this).closest(".thumb-item").click();
  });

  var id = location.search.split("=")[1]

  {%  if event.authorized %}
  var link = localStorage.endpoint+"event/download/all/"+id+"/publisher/"+localStorage.user
  $(".download-btn").prop('href', link)
  {% else %}
  var link = localStorage.endpoint+'events/id/request/user/'+localStorage.user
  $(".download-btn").addClass('no-auth')
  {%  endif %}

  $('input:checkbox').on('click', function () {
    var values = $('input:checked').map(function(i, v){
      return $(v).val()
    }).toArray().join(',')

    if (values) {
      var id = location.search.split("=")[1]
      var link = localStorage.endpoint+"event/download/select/"+values+"/publisher/"+localStorage.user

      $(".selected-btn").show();
      $(".selected-btn").prop('href', link)
    } else {
      $(".selected-btn").hide();
      $(".selected-btn").prop('href', '#')
    }
  })
});

</script>
