.btn {
  font-family:  $buttons-font-family;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  outline: 0!important;
  pointer-events: all;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
// SIZES
  &.btn-lg {
    font-size: 16px;
    padding: 16px 28px;
  }
  &.btn-sm {
    font-size: 12px;
  }
  &.btn-xs {
    font-size: 10px;
    line-height: 9px;
    padding: 12px 18px;
    font-weight: 400;
  }
// STYLES
  &.btn-primary {
    background-color: $gray;
    border-color: $gray;
    color: $white!important;
  }
  &.btn-secondary {
    color: $gray;
  }
  &.btn-ph, &.btn-pu{
    color:$white;
    border-color: transparent;
  }
  &.btn-ph{
    background-color:$color-ph;
  }
  &.btn-pu{
    background-color:$color-pu;
  }
  &.btn-outline-primary {
    border: 1px solid rgba($gray-dark,.15);
    color: $gray-light;
    &:focus, &:hover, &.active {
      border-color: rgba($gray-dark,.3);
      background: rgba($gray-dark,.1);

      outline: 0!important;
    }
  }
  &.btn-outline-secondary {
    transition: .3s;
    color: $white;
    border-color: rgba($white,0.9);
    &:focus, &:hover, &.active {
      border-color: rgba($white,1);
      background: rgba($white,.2);

      outline: 0!important;
    }
  }
// TYPES
  &.btn-plan {
    padding: 20px;
    font-weight: 500;
    white-space: initial;

    span {
      display:block;
      font-size: 20px;
      margin-bottom: 3px;
    }
    small{
      display: block;
      font-size: 14px;
      // margin-bottom: 4px;
      b {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  &.btn-circle {
    text-align: center;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    line-height: 30px;
    width: 40px;
    height: 40px;
    i {
      font-size: 25px;
      line-height: 1.5em;
    }
    &.btn-sm {
      width: 30px;
      height: 30px;
      i {
        font-size: 16px;
      }
    }
    &.btn-lg {
      width: 56px;
      height: 56px;
      border-width: 4px;
      i:before {
        font-size: 31px;
        line-height: 52px;
      }
    }
  }
}

.btn-help {
  color: $gray;
}
