.slider {
  position: relative;
  background-color: $black;

  .slider-inner {
    &.cover {
      .slider-item {
        background-color: $white;
        overflow: hidden;
        border: 0;
        border-radius: 4px;
        position: relative;

        img {
        	min-width: 100%;
        	min-height: 100%;
          max-width: initial;
        	position: absolute;
        	top: 50%;
        	left: 50%;
        	transform: translate(-50%, -50%);
        }
      }
    }
    &.vh {
      .slider-item {
        height: calc(100vh - 60px);
        min-height: 550px;
        border-radius: 0;
      }
    }
    .slider-item {
      img {
        position: relative;
        z-index: 0;
      }
      // .carousel-caption {
      //   position: relative;
      //   z-index: 2;
      // }
    }
  }


  // SLIDER TYPES
  &.slider-top {
    .slider-inner {
      .slider-item {
        height: 100vh;
        @include overlay(0.6);
      }
    }
    .slider-over {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      min-height: 550px;

      .slider-over-inner {
        text-align: center;
        color: $white;
        font-size: 7px;
        h6 {
          height: 20px;
          text-transform: uppercase;
          font-weight: 400;
          margin: 0;
          font-size: 1.8em;
          color:$white;
        }
        h2 {
          font-size: 6.6em;
          text-transform: uppercase;
          font-weight: 800;
          color:$white;
        }

        @include media-breakpoint-up(md) {
          font-size: 10px;
        }
      }
    }
  }
  &.slider-quotes {

    .slider-item {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, 0.3);
        z-index: 1;
      }
    }
    .slider-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      right: initial;
      bottom: initial;
      transform: translate(-50%,-50%);
      max-width: 800px;
      text-align: center;
      color: #fff;
      z-index: 10;

      i {
        font-size: 90px;
        display: block;
        transform: rotate(180deg);
      }
      .blockquote {
        padding: 0;
        border: 0;
        p {
          font-family: $quotes-font-family;
          font-size: 34px;
          line-height: 30px;

          @include media-breakpoint-up(lg) {
            font-size: 44px;
            line-height: 40px;
          }

        }
        footer {
          color: $white;
          text-transform: uppercase;
          font-size: 18px;
          margin-top: 40px;
          @include media-breakpoint-up(lg) {
          font-size: 22px;
          }
        }
      }
    }
  }
  &.slider-tags {
    .slider-caption {
      color: $white;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 50%;
      left: 50%;
      right: initial;
      bottom: initial;
      transform: translate(-50%,-50%);
      width: 370px;
      padding: 40px;
      text-align: center;
      .title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 20px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 30px;

        li {
          i {
            font-size: 34px;
            display: block;
          }
        }
      }
    }
  }

  &.slider-cols {
    background:$gray;
    padding: 50px 0;
    .slider-inner {
      .slider-item {
        background-color:$gray-light;
        height:160px;
        padding:20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        img {
          max-height:100%;
          max-width:100%;
        }
      }
    }
  }

// CONTROLS
  .slick-dots, .lSPager.lSpg {
    position: absolute;
    bottom: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;

    &>li {
      border: 1px solid $white;

      position: relative;
      flex: initial;
      width: 10px;
      height: 10px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      padding:0;
      transition: .3s;

      &.slick-active, &.active {
        background-color: $white;
      }
    }
  }

  .lSAction {
    a {
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        font-family: fontello;
        color: #fff;
        font-size: 38px;
        display: block;
      }

      &.lSNext {
        &:before {
          content: '\e87C';
        }
      }
      &.lSPrev {
        &:before {
          content: '\e87B';
        }
      }
    }
  }

}
