<div class="block-about">
  <div class="container">
    <h2 class="title text-uppercase text-center">Quem somos</h2>
    <h6 class="title text-mutted text-center">Quis est tam dissimile homini. Sed quot homines, tot sententiae; </h6>
    <div class="row row-md">
      {% for i in range(0, 2) %}
      <div class="col-md-4">
        <div class="about-card">
          <img src="{{url('theme://_temp/users/13.jpg')}}"/>
          <h4>Fabio Laub</h4>
          <p>Certe non potest. Sed tamen intellego quid velit.</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-6 offset-3">
      <p class="text-center">
        At enim hic etiam dolore. Ubi ut eam caperet aut quando? Qualem igitur hominem natura inchoavit? Quo tandem modo? Urgent tamen et nihil remittunt.
        Duo Reges: constructio interrete.
        Quis Aristidem non mortuum diligit? Egone quaeris, inquit, quid sentiam? Quis istum dolorem timet? Tanta vis admonitionis inest in locis; Ut pulsi recurrant? Non potes, nisi retexueris illa. Quae quidem vel cum periculo est quaerenda vobis;
        Certe non potest. Sed tamen intellego quid velit. Age sane, inquam. Sed haec omittamus;
      </p>
      </div>
    </div>
    <h5 class="text-uppercase text-center"><a>contato@fotocontainer.com.br</a></h5>
  </div>
</div>
