<div class="block-banner block-banner-2">
  <div class="py-5 container">
    <div class="row">
      <div class="col-md-6 offset-md-3 my-5 text-center">
        <div class="content-center text-center">
          <div class="content-center-inner">
            <h2 class="title text-uppercase h1 mb-4">Não perca mais tempo</h2>
            <p class="text-muted mb-5 pb-4">
            <b>Foto Container</b>. Uma nova ferramenta que faz o link entre fotógrafos e publishers oferecendo praticidade e rapidez. Um elo entre necessidades e soluções, cujas <b>conexões vão mudar a sua vida</b>.
            </p>
            <a class="btn btn-outline-primary btn-lg px-5 last-experiment">Experimente</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <!-- <img class="mt-5 img-fluid" src="{{url('theme://_temp/block-banner-noiva.png') }}"/> -->
      </div>
    </div>
  </div>
</div>


<script>
  $(".last-experiment").on('click', function () {
    $(".nav-link")[3].click()
  })
</script>
