<div class="block-banner block-banner-1" style="background-image: url({{url('theme://_temp/banner-1-bg.png') }})">
  <div class="container">
    <div class="content-center text-right">
      <div class="content-center-inner">
        <h5 class="title text-white text-uppercase">Dowload e upload</h5>
        <h2 class="title text-white text-uppercase">Direto do seu celular</h2>
        <h4 class="title text-white text-uppercase">Em qualquer lugar e a qualquer hora</h4>
      </div>
    </div>
  </div>
</div>
