<div class="block-gallery">
<div class="row row-xxs">

<!-- get_component('thumb-gallery', ['type' => 'home', 'col' => 'col-md-2', 'show'=> ['icon', , , ]]); -->
{% for i in range(1, 18) %}
  {%
  include 'partials/components/thumb-gallery.twig' with {
    'type': 'home',
    'col': 'col-md-2',
    'show': [
      'icon',
      'photo-name',
      'album-type',
      'album-name',
      'fav-count'
    ]
  }
  %}
{% endfor %}


</div>
</div>
