<div class="block-gallery">
<h2 class="title text-uppercase text-center">O que anda rolando</h2>
<h5 class="title text-uppercase text-center">Confira nossas conexôes mais recentes</h5>
<div class="row row-xxs" id="block-gallery">

<!-- get_component('thumb-gallery', ['type' => 'home', 'col' => 'col-md-2', 'show'=> ['icon', , , ]]); -->
{% for i in range(1, 18) %}
  {%
  include 'partials/components/thumb-gallery.twig' with {
    'type': 'home',
    'col': 'col-md-2 col-sm-4 col-6',


    'img_src': url('theme://_temp/photos/' ~ (random(9)+1) ~ '.jpg'),
    'data_photo_name' : 'Sebastião Salgado',
    'data_album_name' : 'Paulo e Roberta',
    'data_album_type' : 'Casamento',

    'show': [
      'icon',
      'photo-name',
      'album-type',
      'album-name'
    ]
  }
  %}
{% endfor %}

</div>
</div>
