<div class="block-how">
  <div class="container">
    <h2 class="title text-uppercase text-center">Como funciona</h2>
    <h6 class="title text-muted text-center mb-5">UMA FORMA SIMPLES E RÁPIDA DE FAZER GRANDES CONEXÕES</h6>
    <div class="row">
      <div class="col-md-3 how-card">
          <i class="icon-photo-upload color-ph"></i>
          <h6 class="text-uppercase color-ph">Fotógrafo</h6>
          <h5 class="text-uppercase">Upload de fotos</h5>
      </div>
      <div class="col-md-3 how-card">
          <i class="icon-photo-details color-ph"></i>
          <h6 class="text-uppercase color-ph">Fotógrafo</h6>
          <h5 class="text-uppercase">Insere detalhes do evento</h5>
      </div>
      <div class="col-md-3 how-card">
          <i class="icon-photo-publish color-pu"></i>
          <h6 class="text-uppercase color-pu">Publisher</h6>
          <h5 class="text-uppercase">Acha fotos por filtros</h5>
      </div>
      <div class="col-md-3 how-card">
          <i class="icon-photo-download color-pu"></i>
          <h6 class="text-uppercase color-pu">Publisher</h6>
          <h5 class="text-uppercase">Download de fotos</h5>
      </div>
    </div>
  </div>
</div>
