<div class="block-how">
  <div class="container">
    <h2 class="title text-uppercase text-center">Como funciona</h2>
    <h6 class="title text-mutted text-center">Quis est tam dissimile homini. Sed quot homines, tot sententiae; </h6>
    <div class="row row-md">
      <div class="col-md-3 how-card">
          <i class="icon-upload-cloud"></i>
          <h6 class="text-uppercase">Fot贸grafo</h6>
          <h5 class="text-uppercase">Upload de fotos</h5>
      </div>
      <div class="col-md-3 how-card">
          <i class="icon-upload-cloud"></i>
          <h6 class="text-uppercase">Fot贸grafo</h6>
          <h5 class="text-uppercase">Upload de fotos</h5>
      </div>
      <div class="col-md-3 how-card">
          <i class="icon-upload-cloud"></i>
          <h6 class="text-uppercase">Fot贸grafo</h6>
          <h5 class="text-uppercase">Upload de fotos</h5>
      </div>
      <div class="col-md-3 how-card">
          <i class="icon-upload-cloud"></i>
          <h6 class="text-uppercase">Fot贸grafo</h6>
          <h5 class="text-uppercase">Upload de fotos</h5>
      </div>
    </div>
  </div>
</div>
