<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-home" data-fixed>
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-home .navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ url('theme://resources/images/logo-color.svg') }}"/></a>

    <div class="collapse navbar-collapse navbar-spy">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="spy nav-link" href="#inicio">Início</a></li>
        <li class="nav-item"><a class="spy nav-link" href="#praquem">Pra quem é</a></li>
        <li class="nav-item"><a class="spy nav-link" href="#comofunciona">Como funciona</a></li>
        <li class="nav-item"><a class="spy nav-link" href="#planos">Planos</a></li>
        <!-- <li class="nav-item nav-login"><a class="btn btn-primary px-4" href="/signin">Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>
