<div class="block-plans">
  <div class="container">
    <h2 class="title text-uppercase text-center">Planos</h2>
    <h6 class="title text-mutted text-center">Quis est tam dissimile homini. Sed quot homines, tot sententiae; </h6>
    <div class="row row-md">
      <div class="col-md-6">
          <h4 class="text-uppercase">Sou Fotógrafo</h4>
          <p>
            Nam his libris eum malo quam reliquo ornatu villae delectari. Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Ita nemo beato beatior. Nulla profecto est, quin suam vim retineat a primo ad extremum.
          </p>
          <button class="btn btn-outline-primary btn-lg">Experimente</button>
      </div>
      <div class="col-md-6">
          <h4 class="text-uppercase">Sou Publisher</h4>
          <p>
            Nam his libris eum malo quam reliquo ornatu villae delectari. Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Ita nemo beato beatior. Nulla profecto est, quin suam vim retineat a primo ad extremum.
          </p>
          <button class="btn btn-outline-primary btn-lg">Experimente</button>
      </div>
    </div>
    <img src="{{url('theme://resources/images/block-plans-noiva.png') }}"/>
  </div>
</div>
