<div class="block-plans">
  <div class="container">
    <h2 class="title text-uppercase text-center">Planos</h2>
    <h6 class="title text-muted text-center mb-5 pb-4">Quis est tam dissimile homini. Sed quot homines, tot sententiae; </h6>
    <div class="row row-xl">
      <div class="col-md-6">
          <h5 class="text-uppercase color-ph">Sou Fotógrafo</h5>
          <p class="text-muted mb-5">
            Nam his libris eum malo quam reliquo ornatu villae delectari. Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Ita nemo beato beatior. Nulla profecto est, quin suam vim retineat a primo ad extremum.
          </p>
          <button class="btn btn-ph btn-lg px-5">Experimente</button>
      </div>
      <div class="col-md-6">
          <h5 class="text-uppercase color-pu">Sou Publisher</h5>
          <p class="text-muted mb-5">
            Nam his libris eum malo quam reliquo ornatu villae delectari. Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Ita nemo beato beatior. Nulla profecto est, quin suam vim retineat a primo ad extremum.
          </p>
          <button class="btn btn-pu btn-lg px-5">Experimente</button>
      </div>
    </div>
    <img src="{{url('theme://resources/images/home-plans.jpg') }}"/>
  </div>
</div>
