<div class="block-plans">
  <div class="container">
    <h2 class="title text-uppercase text-center">Planos</h2>
    <h6 class="title text-muted text-center mb-5 pb-4">APROVEITE JÁ TODOS OS BENEFÍCIOS DO FOTOCONTAINER</h6>
    <div class="row row-xl">
      <div class="col-md-6">
          <h5 class="text-uppercase color-ph">Sou Fotógrafo</h5>
          <p class="text-muted mb-5">
            Veja o melhor plano para você e comece já, a mostrar suas fotografias para os publishers de todo o Brasil.
          </p>
          <a href="/signup-photographer" class="btn btn-ph btn-lg px-5">PRÉ-CADASTRO</a>
      </div>
      <div class="col-md-6">
          <h5 class="text-uppercase color-pu">Sou Publisher</h5>
          <p class="text-muted mb-5">
            Transforme sua busca por fotografias inspiradoras em algo muito mais rápido, produtivo e prazeroso.
          </p>
          <a href="/signup-publisher" class="btn btn-pu btn-lg px-5">PRÉ-CADASTRO</a>
      </div>
    </div>
    <!-- <img src="{{url('theme://resources/images/home-plans.jpg') }}"/> -->
    <br>
    <br>
    <br>
  </div>
</div>
<hr>
