{% set slider_images = [url('theme://resources/images/EQU_1750.jpg'),url('theme://resources/images/MAE_0214.jpg')] %}

<div id="home-slider-top" class="slider slider-top">

  <div class="slider-inner vh cover" role="listbox">
    {% for image in slider_images %}
    <div class="slider-item">
      <img src="{{image}}">
    </div>
    {% endfor %}
  </div>

  <div class="slider-over">
    <div class="slider-over-inner">
      <!-- <h6 class="title">O que realmente importa</h6> -->
      <h2 class="title">CONEXÕES QUE MUDAM A VIDA</h2>
      <h6 class="title">PRA QUEM TEM UM BLOG, UMA EXCELENTE ESCOLHA.<br>PRA QUEM FOTOGRAFA, UM NEGÓCIO E TANTO.</h6>
      <!-- <div class="mt-5">
        <a href="#planos" class="spy btn btn-lg btn-outline-secondary text-uppercase px-5">Experimente</a>
      </div> -->
      <div class="mt-5">
        <a href="#praquem" class="spy btn btn-circle btn-lg btn-outline-secondary"><i class="icon-down-open-big"></i></a>
      </div>
    </div>
  </div>

</div>
