{% set slider_images = [url('theme://resources/images/MAE_0209.jpg'), url('theme://resources/images/MAE_0209.jpg')] %}

<div id="home-slider-tags" class="slider slider-tags">

  <div class="slider-inner vh cover" role="listbox">
  {% for image in slider_images %}
  <div class="slider-item">
    <img src="{{image}}">
    <div class="slider-caption">
      <h4 class="title">No Fotocontainer você encontra suas fotos buscando por tags</h4>
      <ul>
        <li>
          <i class="icon-location"></i>
          Clube 12 de agosto
        </li>
        <li>
          <i class="icon-location"></i>
          Clube 12 de agosto
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
  </div>




</div>
