<div class="block-who">
  <div class="container">
    <h2 class="title text-uppercase text-center">Pra quem é</h2>
    <h6 class="title text-mutted text-center">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</h6>
    <div class="row row-md">
      <div class="col-md-4 who-card">
          <i class="icon-upload-cloud"></i>
          <h6 class="text-uppercase">Minha vida minha câmera</h6>
          <p class="text-mutted">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</p>
          <button class="btn btn-outline-secondary btn-sm">Ver mais</button>
      </div>
      <div class="col-md-4 who-card who-card-center">
          <i class="icon-left-thin"></i>
          <h5 class="text-uppercase">É fotogrado<br>ou publisher?</h6>
          <i class="icon-right-thin"></i>
      </div>
      <div class="col-md-4 who-card">
        <i class="icon-upload-cloud"></i>
        <h6 class="text-uppercase">Minha vida minha câmera</h6>
        <p class="text-mutted">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</p>
        <button class="btn btn-outline-secondary btn-sm">Ver mais</button>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-secondary btn-lg">Ver mais</button>
    </div>
  </div>
</div>
