<div class="block-who">
  <div class="container">
    <h2 class="title text-uppercase text-center">Pra quem é</h2>
    <h6 class="title text-muted text-center mb-5">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</h6>
    <div class="row row-md">
      <div class="col-md-4 who-card">
          <i class="icon-camera mb-3"></i>
          <h6 class="text-uppercase">Minha vida minha câmera</h6>
          <p class="text-muted">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</p>
          <a class="btn btn-outline-primary btn-xs px-3" href="/signup-photographer">Ver mais</a>
      </div>
      <div class="col-md-4 who-card who-card-center">
        <div class="content-center text-right">
          <div class="content-center-inner">
            <i class="icon-arrow-mid"></i>
            <h5 class="text-uppercase">É fotogrado<br>ou publisher?</h6>
            <i class="icon-arrow-mid"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 who-card">
        <i class="icon-blog mb-3"></i>
        <h6 class="text-uppercase">Tenho um blog com muito orgulho</h6>
        <p class="text-muted">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</p>
        <a class="btn btn-outline-primary btn-xs px-3" href="/signup-publisher">Ver mais</a>
      </div>
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-outline-primary btn-lg">Conheça nossos planos</button>
    </div>
  </div>
</div>
