.app.page-add-gallery-success {
  height:100%;
}

.nav-item.active .photo-pin .icon-pin {display: inline!important; color: #54b6e0!important;}
.nav-item.active .photo-pin .icon-pin-outline {display: none!important;}

.page-gallery {
  .page-header {
    .navbar-collapse {
      float: right;
      margin-top: 0;
      align-items: center;
    .form-search {
      float: left;
    }
    ul.navbar-nav {
      float: right;
    display: block;
    li {
      float: left
    }
    }
    }

    @include media-breakpoint-down(sm) {
      height: initial;
      .title {
        display: block;
        text-align: center;
        line-height: 30px;
      }
      .navbar-collapse {
        transform: translateX(50%);
        position: relative;
        left: -50%;
        .form-search input {
            width: 130px;
        }
      }
    }
  }
}
