.app.page-add-gallery-success {
  height:100%;
}

.page-add-gallery {
  .form-group {
    .supplier-add {
      &.active {
        color: #6B6B6B;
        font-weight: bold;
      }
    }
    &>label {
      height: 24px;
      margin: 10px 0;
      .form-check {
        float: right;
        height: auto;
        margin: 0;
        .form-check-label {
          height: auto;
          margin: 0;
        }
        .form-check-input {
          width: 0;
          height: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
    .suppliers-fields-wrap {
      min-height: 4px;
    }
  }
}

.nav-item.active .photo-pin .icon-pin {display: inline!important; color: #54b6e0!important;}
.nav-item.active .photo-pin .icon-pin-outline {display: none!important;}

.page-gallery {
  .page-header {
    .navbar-collapse {
      float: right;
      margin-top: 0;
      align-items: center;
    .form-search {
      float: left;
    }
    ul.navbar-nav {
      float: right;
    display: block;
    li {
      float: left
    }
    }
    }

    @include media-breakpoint-down(sm) {
      height: initial;
      .title {
        display: block;
        text-align: center;
        line-height: 30px;
      }
      .navbar-collapse {
        transform: translateX(50%);
        position: relative;
        left: -50%;
        .form-search input {
            width: 130px;
        }
      }
    }
  }
}

.app.no-gallery {
  .filters-list {
    display: none;
  }
  #gallery {
    height: 340px;
    background-image: url(images/no-gallery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
