.form-control-login::-webkit-input-placeholder {
    color: rgba(255,255,255,.7);
}
.form-control-login:-moz-placeholder {
    color: rgba(255,255,255,.7);
}
.form-control-login::-moz-placeholder {
    color: rgba(255,255,255,.7);
}
.form-control-login:-ms-input-placeholder {
    color: rgba(255,255,255,.7);
}


.page-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-size: cover;
  background-position: center;

  .page-login-inner {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.29);
    min-height: 100vh;

    .login-box {
      background-color: rgba(0,0,0,.5);
      max-width: 760px;
      padding: 40px;
      position: relative;
      z-index: 1;
      left: 50%;
      transform: translate(-50%);
      margin-top: 60px;

      .title {
        color:$white;

        text-align: center;
        font-size: 22px;
        margin-bottom: 26px;
        font-weight: 400;
      }
    }

    .text-muted {
        color: #b1b1b1!important;
    }

    .login-footer {
      background-color: transparent;
      text-align: center;
      padding: 0;
      margin: 30px 0;

      img {
        height: 50px;
      }
    }

  }
  &.page-signin {
    .login-box {
      max-width: 400px;
    }
  }
}

/* */
.form-control-login,
.form-control-login:focus,
.form-control-login:active,
.form-control-login:hover {
  padding: .8rem;
  font-size: .9rem;
  line-height: 1.25;
  color: #fff;
  background-color: rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,0);
  border-radius: 4px;
  transition: .3s;
}
.form-control-login:hover {
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 4px;
}
.form-control-login:focus,
.form-control-login:active {
  border: 1px solid rgba(255,255,255,.6);
  border-radius: 4px;
}
.btn-submit {
  font-family: $headings-font-family;

  padding: 15px 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 16px;
}

.page-login .msg-error {
  display: block;
  font-size: 10px;
  color: #fff;


}


.page-login .login-box.landingpage-box {
  max-width: 500px;
  background-color:#fff;

  .img-fluid {
        max-width: 240px;
    margin: 0 auto;
    display: block;
  }

  h3 {
    color: #e1c09d;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 400;
  }
  h2 {
    color: #e1c09d;
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  h4 {
    color: #888888;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    font-weight: 400;
    text-transform: uppercase;
  }
  }


.page-login  .landing-banner {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    padding: 20px 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: $color-ph;
    font-size: 22px;
    font-weight: 600;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54b6e0+17,e1c09d+67 */
// background: #54b6e0; /* Old browsers */
// background: -moz-linear-gradient(left, #54b6e0 17%, #e1c09d 67%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left, #54b6e0 17%,#e1c09d 67%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right, #54b6e0 17%,#e1c09d 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b6e0', endColorstr='#e1c09d',GradientType=1 ); /* IE6-9 */

}
