{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="app page-add-gallery page-add-gallery-success">
  <div class="content-center">
      <div class="content-center-inner upload-area">
        <div class="upload-area-inner">
          <i class="icon-picture"></i>
          <h2 class="mb-1 h1 text-uppercase">Galeria criada com sucesso!</h2>
          <h5 class="text-muted mb-5">Suas fotos estão sendo divulgadas para os publishers.</h5>
          <button class="btn btn-ph btn-lg px-5 btn-open-gallery">Listar galerias</button>
        </div>
      </div>
  </div>
</div>

<script>
    $(".btn-open-gallery").on("click",function(){
        window.location.href = '/gallery';
    });
</script>
{% endblock %}
