{% extends 'partials/base.html.twig' %}
{% import "functions.twig" as functions %}

{% block content %}


    <div class="app page-approvals">
        {%
        include 'partials/components/navbar-top.twig' with {
        'profile': grav.user.profile,
        'active': 'approvals',
        'class': functions.profileClass(grav.user.profile)
        }
        %}
        {%
          include 'partials/components/page-header.twig' with {
            'title': 'Aprovação de downloads',
            'show': ['title']
          }
        %}
      <div class="container">
        <ul class="list-group"></ul>
      </div>


<!-- PODE APAGAR A PARTIR DAQUI -->

<hr>
<hr>
<hr>
<hr>
        <hr>
      <a onclick="show_modal_alert('danger','#','Pode usar todas as classes do alerta do bootstrap <a href=\'https://v4-alpha.getbootstrap.com/components/alerts/\'>https://v4-alpha.getbootstrap.com/components/alerts/</a>')">!!!!!!!!! EXEMPLO CHAMADA MODAL info</a>
        <hr>
      <a onclick="show_modal_alert('warning','#','Pode usar todas as classes do alerta do bootstrap <a href=\'https://v4-alpha.getbootstrap.com/components/alerts/\'>https://v4-alpha.getbootstrap.com/components/alerts/</a>')">!!!!!!!!! EXEMPLO CHAMADA MODAL info</a>
        <hr>
      <a onclick="show_modal_alert('success','#','Pode usar todas as classes do alerta do bootstrap <a href=\'https://v4-alpha.getbootstrap.com/components/alerts/\'>https://v4-alpha.getbootstrap.com/components/alerts/</a>')">!!!!!!!!! EXEMPLO CHAMADA MODAL info</a>
      <hr>
      <a onclick="show_modal_alert('info','./gallery','Pode usar todas as classes do alerta do bootstrap <a href=\'https://v4-alpha.getbootstrap.com/components/alerts/\'>https://v4-alpha.getbootstrap.com/components/alerts/</a>')">!!!!!!!!! EXEMPLO CHAMADA MODAL info</a>

<!-- PODE APAGAR ATÉ AQUI -->



    </div>

  {% include 'partials/components/footer.twig' with {'class': functions.profileClass(grav.user.profile)} %}
<script>
  Approval.render(localStorage.endpoint, localStorage.user)
</script>
{% endblock %}
