{% extends 'partials/base.html.twig' %}

{% block content %}

{%
include 'partials/components/navbar-top.twig' with {
  'profile': grav.user.profile,
  'active': 'gallery',
  'class': 'bg-ph'
}
%}

<div class="app page-gallery page-album">
{%
include 'partials/components/page-header.twig' with {
  'title': 'Álbum',
  'show': ['title', 'add-image']
}
%}

  <div class="container">
    <div id="previews" class="row row-md"></div>

    <div class="row row-md">
      <div class="col-md-6">
        <div class="form-group">
          <label>Título *</label>
          <input id="input-title" name="input-title" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Descrição *</label>
          <textarea id="input-description" rows="12" name="input-description" class="form-control" required>
          </textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome da Noiva *</label>
          <input id="input-bride" name="input-bride" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Nome do Noivo *</label>
          <input id="input-groom" name="input-groom" type="text" class="form-control" required>
        </div>
        <div class="row row-sm">
          <div class="col-md-4">
            <div class="form-group">
              <label>Categoria *</label>
              <select id="select-categories" name="state" name="select-categories" class="select2-edit form-control" required>
                <option selected="" value="" disabled="disabled">Selecione</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>País *</label>
              <select id="input-country" name="input-country" class="select2-edit form-control" required>
                <option selected="" value="" disabled="disabled">Selecione</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Data do evento *</label>
              <input id="input-eventdate" name="input-eventdate" type="text" class="form-control datepicker" required>
            </div>
          </div>
        </div>
        <div class="form-group mt-4">
          <label>Preferências *</label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-general" name="input-approval" type="radio" class="form-check-input" required>
            <span>Liberado para publicação</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Esta galeria é liberada para todos os publishers baixarem as fotos imediatamente."><i class="icon-help-circled"></i></a>
          <!-- <label class="error msg-error" for="input-approval-general" style="display: none;"></label> -->
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-photographer" name="input-approval" type="radio" class="form-check-input" required>
            <span>Necessita liberação do fotógrafo</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Esta galeria deve ser liberada pelo fotógrafo para cada publisher que quiser baixar as fotos."><i class="icon-help-circled"></i></a>
          <!-- <label class="error msg-error" for="input-approval" style="display: none;"></label> -->
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-bride" name="input-approval" type="radio" class="form-check-input" required>
            <span>Necessita liberação dos noivos</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Esta galeria deve ser liberada pelo fotógrafo, com o consentimento dos noivos, para cada publisher que quiser baixar as fotos."><i class="icon-help-circled"></i></a>
          <label class="error msg-error" for="input-approval" style="display: none;"></label>
        </div>

      </div>
    </div>
    <div class="form-check- mt-3">
      <label class="form-check-label">
        <input id="input-terms" name="input-terms" type="checkbox" class="form-check-input" required>
        <span>Aceito os <a class="link stopPropagation">Termos e Condições de uso</a></span>
      </label>
      <label class="error msg-error" for="input-terms" style="display: none;"></label>
    </div>
    <button data-toggle="modal" data-target=".modal-album" type="button" class="btn btn-green btn-lg mt-2 modal-broadcast" name="button">
      Enviar para publishers
    </button>
    <button data-toggle="modal" data-target=".modal-publish" type="button" class="btn btn-green btn-lg mt-2" name="button">
      Escolher para publicação
    </button>
    <a type="button" class="btn btn-green btn-lg mt-2 edit-album">
      Salvar
    </a>

  </div>

{% include 'partials/components/modal-album.twig' %}
{% include 'partials/components/modal-publish.twig' %}
{% include 'partials/components/footer.twig' with {'class': 'bg-ph'} %}
</div>

<script>
  $( document ).ready(function() {
    Event.id = location.search.split("=")[1]

    Event.viewEvent(localStorage.endpoint)

    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy'
    });

    $(".modal-broadcast").on('click', function (e) {
      Event.broadcastPublishers(localStorage.endpoint)
    });

    $('.edit-album').on('click', function () {
      Event.editHandler(localStorage.endpoint, localStorage.user);
    })
  })
</script>
{% endblock %}
