{% extends 'partials/base.html.twig' %}

{% block content %}

{%
  include 'partials/components/navbar-top.twig' with {
  'profile': grav.user.profile,
  'active': 'gallery',
  'class': 'bg-ph'
  }
%}

<div class="app page-gallery">

  <!-- <?php get_component('page-header', ['title' => 'Galeria', 'show' => ['title','form-search', 'nav-gallery']]);?> -->
  {%
  include 'partials/components/page-header.twig' with {
    'title': 'Galeria',
    'show': ['title','form-search', 'nav-gallery']
  }
  %}

  <div class="container">
    <h6 class="title text-muted text-uppercase mb-0"><a class="text-muted" href="#">Casamento</a></h6>
    <h2 class="title text-uppercase mb-3">Roberta e Márcio</h2>
    <h6 class="title text-muted text-uppercase mb-5">100 fotos de <a class="text-muted" href="#">Sebastião Doce</a></h6>
    <p><a href="/gallery/add">Add</a></p>

    {{ include('partials/components/filters-list.twig') }}

    {% if grav.user.profile == 3 %}
    <div class="row">
      <div class="col-6 col-md-3 offset-md-3">
        <button type="button" class="btn btn-ph text-uppercase btn-block rounded-top-right-0 rounded-bottom-right-0">Fotos favoritas</button>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <button type="button" class="btn btn-secondary text-uppercase btn-block rounded-top-left-0 rounded-bottom-left-0">Fotos baixadas</button>
      </div>
    </div>
    {% endif %}
    <div id="gallery" class="row row-sm">

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 add-gallery-click">
        <a href="{{ base_url_absolute  }}/gallery/add" class="card thumb-gallery ratio-1by1 thumb-add">
          <span class="card-text-add">
            <i class="icon-plus"></i>
            <p class="text-uppercase">Novo álbum</p>
          </span>
        </a>
      </div>

    </div>
  </div>
  {{ include('partials/components/modal-filters.twig') }}
  {% include 'partials/components/footer.twig' with {'class': 'bg-ph'} %}
</div>

<script>
$( document ).ready(function(){
  Event.loadTags(localStorage.endpoint)

  $(".form-search").submit(function (e) {
    e.preventDefault();
    Event.search("http://" + location.host + "/")
  })

  $('#gallery').lightGallery({
      subHtmlSelectorRelative: true
  });

  $( ".add-gallery-click" ).unbind();

  Event.search("http://" + location.host + "/");
});
</script>
{% endblock %}
