{% extends 'partials/base.html.twig' %}

{% block content %}

{%
  include 'partials/components/navbar-top.twig' with {
  'profile': grav.user.profile,
  'active': 'gallery'
  }
%}

<div class="app page-gallery">

  {%
    include 'partials/components/page-header.twig' with {
      'title': 'Galeria',
      'show': ['title','add-gallery'],
      'profile': grav.user.profile
    }
  %}

  <div class="container">
    <div class="row row-sm">
      {% if grav.user.profile == 3 %}
      <div class="col-md-3">
      {{ include('partials/components/filters-sidebar.twig') }}
      </div>
      {% endif %}
      <div class="col-md-9">
        {{ include('partials/components/filters-list.twig') }}
        <div id="gallery" class="row row-sm">
        </div>
      </div>
    </div>
  </div>

  <a id="add-page" style="display:none;" data-page="1" href="#">Próxima página</a>

  {% include 'partials/components/footer.twig' %}
</div>
<script>
$( document ).ready(function() {
  Event.loadTags(localStorage.endpoint, 'checkbox')

  Event.search(localStorage.domain);

  $('#gallery').lightGallery({
      subHtmlSelectorRelative: true
  });

  $( ".add-gallery-click" ).unbind();

  $("#add-page").on('click', function (e) {
    e.preventDefault()
    $(this).data().page += 1

    Event.search(localStorage.domain)
  })

});
function startIntro(){
  var intro = introJs();
  intro.setOptions({
    nextLabel: "Próximo",
    prevLabel: "Anterior",
    skipLabel: "Pular",
    doneLabel: "Finalizar",
    steps: [
      {
        intro: "Olá, seja bem-vindo ao FotoContainer… alguns detalhes importantes sobre a plataforma para seu melhor uso!"
      },
      {
        intro: "Esta é a sua galeria e é nesta página que você poderá criar os seus albums de fotos."
      },
      {
        element: document.querySelector('.gallery-intro-step-1'),
        intro: "Clique aqui para criar um novo album e lembre de colocar todos os detalhes deste novo evento. Blogueiras amam publicar trabalhos que mostram todos os detalhes."
      },
      {
        element: document.querySelector('.gallery-intro-step-2'),
        intro: "Clique aqui para completar o seu perfil.",
        position: "bottom"
      },
      {
        intro: "Prontinho... você está pronto para utilizar o FotoContainer e se tiver mais alguma dúvida mande uma mensagem para equipe@fotocontainer.com.br."
      },

    ]
  });

  intro.start();
}
</script>
{% endblock %}
