{% extends 'partials/base.html.twig' %}

{% block content %}

{%
  include 'partials/components/navbar-top.twig' with {
  'profile': grav.user.profile,
  'active': 'gallery'
  }
%}

<div class="app page-gallery">

  {%
    include 'partials/components/page-header.twig' with {
      'title': 'Galeria',
      'show': ['title','form-search', 'nav-gallery']
    }
  %}

  <div class="container">
    {{ include('partials/components/filters-list.twig') }}

    <div id="gallery" class="row row-sm">
      {% if grav.user.profile == 2 %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 add-gallery-click">
        <a href="{{ base_url_absolute  }}/gallery/add" class="card thumb-gallery ratio-1by1 thumb-add">
          <span class="card-text-add">
            <i class="icon-plus"></i>
            <p class="text-uppercase">Novo álbum</p>
          </span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

   <a id="add-page" style="display:none;" data-page="1" href="#">Próxima página</a>

  {{ include('partials/components/modal-filters.twig') }}
  {% include 'partials/components/footer.twig' %}
</div>
<style media="screen">
  .photo-pin.active .icon-pin {display: inline!important; color: #54b6e0!important;}
  .photo-pin.active .icon-pin-outline {display: none!important;}
</style>
<script>
$( document ).ready(function() {
  Event.loadTags(localStorage.endpoint, 'checkbox')

  if (location.pathname.split('/').length == 2 && location.pathname.split('/')[1] == "gallery") {
    Event.search(localStorage.domain);

    $(".form-search").submit(function (e) {
      e.preventDefault();

      $(".search-result-thumb").remove()
      $("#add-page").data().page = 1

      Event.search(localStorage.domain)
    })

    $('#modal-filters-ok').click(function() {
      Event.search(localStorage.domain);
    });
  }

  $('#gallery').lightGallery({
      subHtmlSelectorRelative: true
  });

  $( ".add-gallery-click" ).unbind();

  $("#add-page").on('click', function (e) {
    e.preventDefault()
    $(this).data().page += 1

    Event.search(localStorage.domain)
  })
});
</script>
{% endblock %}
