{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="app page-login page-signin page-pass-update" style="background-image: url({{ url('theme://_temp/signin-bg.png') }})">
  <div class="page-login-inner">

    <div class="login-box">

      <h2 class='title text-uppercase'>Atualize sua senha</h2>

      <form class="form-pdw-recovery form-validate">
        <div class="form-group">
          <label for="input_password" class="sr-only">Senha</label>
          <input type="password" id="input_password" name="input_password" class="form-control form-control-login" placeholder="Senha" required="">
          <label class="error msg-error" for="input_password" style="display: none;"></label>
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-submit btn-outline-secondary" type="submit">Atualizar</button>
        </div>

      </form>

    </div>

    {{ include('partials/components/login-footer.twig') }}
  </div>

</div>

<script type="application/javascript">
$( document ).ready(function(){
  $('.form-pdw-recovery').on('submit', function (e) {
    e.preventDefault()
    PasswordRecovery.updatePassword()
  })
})
</script>

{% endblock %}
