{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="app page-profile page-profile-select">
  <div class="block-who">
    <div class="container">
      <h2 class="title text-uppercase text-center">Selecione o seu perfil</h2>
      <h6 class="title text-muted text-center mb-5">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</h6>
      <div class="row row-md">
        <a class="col-md-4 who-card who-card-link">
            <i class="icon-camera mb-3"></i>
            <h6 class="text-uppercase">Minha vida minha câmera</h6>
            <p class="text-muted">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</p>
        </a>
        <div class="col-md-4 who-card who-card-center">
          <div class="content-center text-right">
            <div class="content-center-inner">
              <i class="icon-arrow-mid"></i>
              <h5 class="text-uppercase">É fotogrado<br>ou publisher?</h5>
              <i class="icon-arrow-mid"></i>
            </div>
          </div>
        </div>
        <a class="col-md-4 who-card who-card-link">
          <i class="icon-blog mb-3"></i>
          <h6 class="text-uppercase">Tenho um blog com muito orgulho</h6>
          <p class="text-muted">Quis est tam dissimile homini. Sed quot homines, tot sententiae.</p>
        </a>
      </div>
    </div>
  </div>
</div>




{% endblock %}
