{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="app page-login page-signup" style="background-image: url({{ url('theme://_temp/signup-bg.png') }})">
  <div class="page-login-inner">
    <div class="login-box">
      <form class="form-signup-publisher form-validate" method="post" action="">
      <div class="row row-md">
      <div class="col-md-6">
        <h2 class='title text-uppercase'>Selecione um plano</h2>
        <div data-toggle="buttons">
          <label class="btn btn-pu btn-plan btn-outline-secondary btn-check btn-lg text-uppercase btn-block">
            <input type="radio" name="input_plan" autocomplete="off">
            <span>Plano mensal</span>
            <small>Simplifique sua vida</small>
            <small>R$<b>19</b></small>
          </label>
          <label class="btn btn-pu btn-plan btn-outline-secondary btn-check btn-lg text-uppercase btn-block">
            <input type="radio" name="input_plan" autocomplete="off">
            <span>Assinatura anual</span>
            <small>Pague <b>10</b> meses e leve <b>12</b></small>
            <small>R$<b>190</b></small>
          </label>
        </div>
        <label class="error msg-error" for="input_plan" style="display: none;"></label>
      </div>
      <div class="col-md-6">
        <h2 class='title text-uppercase'>Insira seus dados</h2>
          <div class="form-group">
            <label for="input_blog" class="sr-only">URL do blog</label>
            <input type="url" name="input_blog" id="input_blog" class="form-control form-control-login" placeholder="URL do blog" required="">
            <label class="error msg-error" for="input_blog" style="display: none;"></label>
          </div>
          <div class="form-group">
            <label for="input_name" class="sr-only">Nome</label>
            <input type="text" name="input_name" id="input_name" class="form-control form-control-login" placeholder="Nome" required="">
            <label class="error msg-error" for="input_name" style="display: none;"></label>
          </div>
          <div class="form-group">
            <label for="input_email" class="sr-only">E-mail</label>
            <input type="email" name="input_email" id="input_email" class="form-control form-control-login" placeholder="E-mail" required="">
            <label class="error msg-error" for="input_email" style="display: none;"></label>
          </div>
          <div class="form-group">
            <label for="input_remail" class="sr-only">Confirmar e-mail</label>
            <input type="email" name="input_remail" class="form-control form-control-login" placeholder="Confirmar e-mail" required="">
            <label class="error msg-error" for="input_remail" style="display: none;"></label>
          </div>
          <div class="form-group">
            <label for="input_password" class="sr-only">Senha</label>
            <input type="password" name="input_password" id="input_password" class="form-control form-control-login" placeholder="Senha" required="">
            <label class="error msg-error" for="input_password" style="display: none;"></label>
          </div>
          <div class="form-check form-check-alt text-white text-center">
            <label class="form-check-label">
              <input type="checkbox" name="input_terms">
              <span>Concordo com as <a href="/user/themes/photo-container-site/resources/TERMOS-E-CONDICOES-DE-USO.pdf" target="_blank" class="text-white link">Condições de uso</a></span>
              <label class="error msg-error" for="input_terms" style="display: none;"></label>
            </label>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-submit btn-outline-secondary" type="submit">Entrar</button>
          </div>
          <div class="text-center pt-3">
            <p class="text-white text-muted d-block m-0">Já possui um perfil?</p>
            <a class="text-white text-uppercase link" href="#">
              Acessar seu perfil
            </a>
          </div>
      </div>
    </div>
  </form>

    </div>

    {{ include('partials/components/login-footer.twig') }}
  </div>
</div>

<script type="text/javascript"
        src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js">
</script>

{% endblock %}
