
.icon-search:before { content: '\e800'; } /* '' */
.icon-quote:before { content: '\e833'; } /* '' */
.icon-location:before { content: '\e849'; } /* '' */
.icon-down-open-big:before { content: '\e87a'; } /* '' */
.icon-left-open-big:before { content: '\e87b'; } /* '' */
.icon-right-open-big:before { content: '\e87c'; } /* '' */
.icon-up-open-big:before { content: '\e87d'; } /* '' */
.icon-arrow-mid:before { content: '\e8ea'; } /* '' */
.icon-photo-details:before { content: '\e8eb'; } /* '' */
.icon-blog:before { content: '\e8ec'; } /* '' */
.icon-camera:before { content: '\e8ed'; } /* '' */
.icon-photo-download:before { content: '\e8ee'; } /* '' */
.icon-photo-publish:before { content: '\e8ef'; } /* '' */
.icon-photo-upload:before { content: '\e8f1'; } /* '' */